
{% extends 'base.html' %}
{% block title %} The game {% endblock %}

{% block content %}
<h1>Welcome to the game!</h1>

<form action="/madlib">
  Please Enter a Name <input type="text" name="person"><br><br>
  Color <select name="color">
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="orange">Orange</option>
            <option value="purple">Purple</option>
            <option value="black">Black</option>
        </select>
        <br>
        <br>
    Please Enter an Animal <input type="text" name="animal"><br><br>
    Check any adjectives you want to include <br>
    <input type="checkbox" name="adjectives" value="fuzzy">Fuzzy<br>
    <input type="checkbox" name="adjectives" value="spicy">Spicy<br>
    <input type="checkbox" name="adjectives" value="slimy">Slimy<br>
    <input type="checkbox" name="adjectives" value="tall">Tall<br>
    <input type="checkbox" name="adjectives" value="elegant">Elegant<br>
    <input type="checkbox" name="adjectives" value="rowdy">Rowdy<br>
    <br><br>
    Please Enter a Noun <input type="text" name="noun1"><br><br>
    Please Enter a Noun <input type="text" name="noun2"><br><br>
    Please Enter a Noun <input type="text" name="noun3"><br><br>
    Please Enter a Verb <input type="text" name="verb"><br><br>
<!--     Please Enter an Adjective <input type="text" name="adjective"><br><br> -->
  <input type="submit">
</form>

{% endblock %}
